
body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

a,
button {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.nav {
  background: teal;
  height: 8vh;
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  list-style-type: none;
}

.navbar-item {
  margin-left: 2rem;
}

.navbar-link {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  transform: translateX(2000px);
  animation: move 750ms ease-out forwards;
}

.navbar-link:hover {
  color: rgb(12, 58, 58);
}

.navbar-item:first-child .navbar-link {
  animation-delay: 0ms;
}

.navbar-item:nth-child(2) .navbar-link {
  animation-delay: 350ms;
}

.navbar-item:nth-child(3) .navbar-link {
  animation-delay: 700ms;
}

.navbar-item:last-child .navbar-link {
  animation-delay: 1050ms;
}

@keyframes move {
  0% {
    transform: translateX(2000px);
  }

  75% {
    transform: translateX(-15px);
  }

  100% {
    transform: translateX(0);
  }
}

.btn {
  margin: 1rem 2rem;
  padding: 0.6rem;
  font-size: 1rem;
  border: none;
  background: teal;
  color: #fff;
  outline: none;
}
